*,
::after,
::before{
    box-sizing: border-box;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{text-decoration: none;}
p{margin-top: 0;}

h2{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}
.container{
    width: 100%;
    max-width: 414px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.dark-bar{
    background-color: #5d3fd3;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 5px;
}
.shapes{
    color: lavender;
}
#hamburger{
    background-color: transparent;
}
.material-symbols-outlined {
background: transparent;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #7f00ff;
    color: white;
    padding: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.dark{
    background-color: lightgray;
    color: gray;
    border: none;
    /* border-bottom-left-radius: 0 ;
    border-bottom-right-radius:0; */
    border-bottom: 1px solid gray;
    margin: 10px 0;
    padding: 10px;
}
.light{
    border: 1px solid grey;
    margin: 10px 0;
    padding: 10px;
}
.form input, .form select{
    border-radius: 10px;
}